
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&family=Martel+Sans:wght@200;300;400;600;700;800;900&family=Roboto:ital,wght@1,100;1,400&display=swap');


*{
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;;
}

body {
    background-color: black;
}



/* DIV MAIN  */


.main {
    background-image: url(assets/images/bg.jpeg);
    height: 80vh;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: max(1200px, 100vw);
    position: relative;
}
.main .box {
    height: 80vh;
    width: 100%;
    opacity: 0.74;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    margin: auto;
    max-width: 80vw;
    align-items: center;
    justify-content: space-between;
    height: 100px;
}

nav img {
    color: red;
    width: 140px;
    position: relative;
    z-index: 10;
}

nav button {
    position: relative;
    z-index: 10;
}
 .hero {
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 29px;
 }

 .hero> :first-child {
    font-weight: 900;
    font-size: 48px;
    text-align: center;
 }

 .hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
    text-align: center;
 }

 .hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
 }




 /* SECTION END LINE   */

 .line {
    height: 9px;
    background-color: rgb(52, 52, 52);
 }



 /* BUTTONS  */

 .btn {
    padding: 3px 8px;
    font-weight: 400;
    background-color: rgba(248, 243, 243, 0.021);
    color: white;
    cursor: pointer;
    border-radius: 4px;
}

.btn-red {
    background-color: green;
    padding: 8px 24px;
    font-size: 25px;
    font-weight: 600;
    border-radius: 3px;
    color: white;
}

.btn-red-sm {
    background-color: green;
    color: white;
 }

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    font-size: 25px;
    color: white;
    border-radius: 4px;
    background-color: rgba(23,23,23,0.6);
    border: 1px solid rgba(246, 238, 238, 0.5);
}


/* FIRST SECTION  */

.first {
    height: 70vh;
    display: flex;
    justify-content: center;
    max-width: 70vw;
    margin: auto;
    color: white;
    align-items: center;
}


.img {
    position: relative;
}



.img img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.img video {
    position: absolute;
    height: 235px;
    top: 51px;
    width: 555px;
    right: 0;
}

.sectext {
    font-family: "Martel Sans", sans-serif;
    font-size: 24px;
}

.sectext :first-child {
    font-weight: 900;
    font-size: 48px;
}



/* FIRST THIRD SECTION  */

.imgth {
    position: relative;
}

.imgth img {
    width: 555px;
    position: relative;
    z-index: 10;
}

.imgth video {
    position: absolute;
    height: 187px;
    top: 44px;
    right: 0;
    width: 555px;
}


/* FAQ SECTION  */

.faq h2 {
    text-align: center;
    font-size: 48px;
    font-weight: 900;
}

.faq {
    background: black;
    color: white;
    padding: 24px;
    font-size: 24px;
}

.faqbox:hover {
    background-color: rgb(74, 74, 74);
}

.faqbox {
    transition: all 1s ease-out;
    display: flex;
    background-color: rgb(45,45,45);;
    padding: 1.5rem;
    max-width: 60vw;
    margin: 24px auto;
    justify-content: space-between;
    cursor: pointer;
}

.herofoot {
    height: calc(100% - 70px);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    flex-direction: column;
    position: relative;
    font-family: "Martel Sans", sans-serif;
    gap: 23px;
    padding: 0 29px;
}

.herofoot> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
 }


 /* FOOTER  */
 
 footer {
     color: white;
     max-width: 60vw;
     margin: auto;
     padding: 14px;
    }
 
    footer .questions {
        padding: 34px 0;
}

.footer a {
    font-size: 14px;
    color: white;
}

.footer a:hover {
    color: red;
}

 .footer {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     color: white;
    }
    
    
    .footer-item {
    display: flex;
    flex-direction: column;
    gap: 23px;
}



/* MEDIA QUERIES  */


@media screen and (max-width: 1300px) {
    nav {
        max-width: 90vw;
    }
    .first {
        flex-wrap: wrap;
    }
    
    .img img {
        width: 357px;
    }

    .img video {
        width: 305px;
        top: -1px;
    }

    .imgth img {
        width: 357px;
    }
    
    .imgth video {
        width: 230px;
        top: 0;
        margin-right: 70px;
    }

    .hero-buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }
    .sectext {
        font-size: 20px;
    }
    .faq h2 {
        font-size: 32px;
    }

    footer {
        max-width: 90vw;
    }
    .footer-item {
        align-items: center;
    }

    .footer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        color: white;
        gap: 25px;
     }
}